{% extends 'base.html' %}

{% block title %}Confirmação de Inscrição{% endblock %}

{% block content %}
<h2>Confirmação da inscrição</h2>

<p>Evento: <strong>{{ evento.nome }}</strong></p>
<p>Data: {{ evento.data_inicio|date:"d/m/Y" }}</p>
<p>Local: {{ evento.local }}</p>

<form method="post">
    {% csrf_token %}
    {{ form.as_p}}
    <button href="{% url 'inscricao_create' evento.id %}" type="submit" class="buttonInscricao">Confirmar Inscrição</button>
</form>

<a href="{% url 'evento_list' %}" class="buttonInscricao">Cancelar</a>
{% endblock %}
