{% extends 'base.html' %}

{% block title %}Perfil{% endblock %}

{% block content %}
<h2>Bem-vindo(a), {{ usuario.username }}</h2>

<p><strong>Tipo de usuário:</strong> {{ perfil.get_tipo_display }}</p>
<p><strong>Telefone:</strong> {{ perfil.telefone|default:"Não informado" }}</p>
<p><strong>Instituição:</strong> {{ perfil.instituicao|default:"Não informada" }}</p>
<p><strong>Email:</strong> {{ usuario.email }}</p>

<hr>

    {% if perfil.tipo == 'organizador' %}
    <h3>Opções</h3>
    <ul>
      <a href="{% url 'evento_create' %}" class="buttonInscricao">Criar evento</a>
    </ul>
    {% endif %}
    
{% endblock %}